<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Books Store</title>
  </head>
  <body>
    <div class="container">
      <% if (books) { %> <% books.forEach((book) => { %>
      <div class="book">
        <h1 class="title"><%=book.title %></h1>
        <h2 class="author"><%=book.author %></h2>
      </div>
      <% })%> <% } %>
    </div>
  </body>
</html>
